/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-image: url('assets/images/climbing-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Add semi-transparent overlay to improve readability */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
